.title-title-content{
    text-align: left;
    font-size: 47px;
    padding: 20px 0;
}
.title-name{
    font-size: 30px;
    letter-spacing: -.04em;
    font-family: cursive;
    color: white;
}